* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  h1{
    height:40px;
    justify-content: space-evenly;
    margin-bottom: 30px;
    text-align: center;
    background-color:#7A4804;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #title{
    text-align: center;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
  } 
  
  #link{
    text-align: center;
    margin: auto;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  #difficulty{
    text-align: center;
    margin: auto;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
   
  body {
    background-color: rgb(248, 246, 246);
    
  }
   /* Navbar related css  */
  
  #submit {
    width: 100%;
    margin-top: 30px;
    background-color: #fc9295;
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
   /* Navbar related css  */
  
  /* Form related css  */
  
  input,
  select {
    display: block;
    margin: 15px 0px;
    font-size: 20px;
    padding: 2%;
    
  }
  option {
    font-size: 25px;
  }
  form {
    width: 400px;
    border: 1px solid rgb(230, 230, 230);
    margin: 3% auto;
    padding: 3%;
    background: white;
    background-color: #c6d957;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  /* Form related css */
  
  #revision {
    display: inline-block;
   
  }
  
  
  input[type="radio"] {
    display: inline-block;
  }
  
  table,
  td,
  th {
    border: 1px solid #ddd;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #d7cae7;
  }
  
  table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    margin-top: 50px;
  }
  
  th,
  td {
    padding: 15px;
    text-align: center;
  }
  
  tr > th {
    background-color: rgb(68, 126, 192);
    color: white;
  }
  